<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link">
            <i class="fas fa-chart-line"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-shopping-cart"></i> <span>Solicitações</span>
        </a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="{% url 'solicitacao_nova' %}" class="nav-link">Nova Solicitação</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Meus Pedidos</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-check-circle"></i> <span>Aprovações</span>
        </a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="{% url 'lista_pendencias' %}" class="nav-link">Pendentes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Histórico</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-file-invoice-dollar"></i> <span>Financeiro</span>
        </a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="{% url 'lista_notasfiscais' %}" class="nav-link">Recebimento Fiscal (NF)</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Relatório de Custos</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-database"></i> <span>Cadastros</span>
        </a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="/admin/home/unidade/" target="_blank" class="nav-link">Unidades</a>
            </li>
            <li class="nav-item">
                <a href="/admin/home/centrocusto/" target="_blank" class="nav-link">Centros de Custo</a>
            </li>
            <li class="nav-item">
                <a href="/admin/home/solicitante/" target="_blank" class="nav-link">Solicitantes</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-cogs"></i> <span>Configurações</span>
        </a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="/admin/" target="_blank" class="nav-link">Painel Admin</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Sair</a>
            </li>
        </ul>
    </li>
</ul>